body{
    margin: 0px auto;
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* start menu style */
.menu ul>li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;

}
.menu ul>li>a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* End menu style */

.heading{
    text-align: left;
    margin-left: 160px;
    color: #181818;

}

/* start main */


.description{
    float: left;
    width: 40%;
    background-color: #fff;
    padding: 40px 20px 40px 80px;
    margin: 40px;
    border-radius: 10px;
}
.description p,li{
    font-size: 25px;
}
.picture{
    float: left;
    width: 50%;
    
}


footer{
    clear: both;
    position: absolute;
    bottom: 0;
}
h5{
    font-size: 18px;
    text-align: center;
    margin-left: 40px;
}
h3{
    margin-left: 80px;
    font-size: 23Px;
    color: blue;
}