body{
    margin: 0px auto;
    background-color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* start menu style */
.menu ul>li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;

}
.menu ul>li>a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.menu ul>li>a:hover{
    color: fuchsia;
}
/* End menu style */

.heading{
    text-align: left;
    margin-left: 160px;
    color: blue;

}

span{
    color: red;
}

/* start main */


.description{
    float: left;
    width: 40%;
    background-color: blanchedalmond;
    padding: 40px 20px 40px 80px;
    margin: 40px;
    border-radius: 10px;
}
.description p,li{
    font-size: 25px;
}
.picture{
    float: left;
    width: 50%;
    
}


footer{
    clear: both;
    position: absolute;
    bottom: 0;
}
h5{
    font-size: 18px;
    text-align: center;
    margin-left: 40px;
}
h3{
    margin-left: 100px;
    margin-right: 300px;
    font-size: 15Px;
    color: blue;
}
div a{
    margin-left: 60px;
    margin-right: 150px;
    font-size: 50px;
}
div img{
    padding: 1%;
    margin-left: 40px;
    margin-right: 150px;
    float: left;
    shape-image-threshold: initial;
    width: 20%;
  
}
.card{
    height: 170px;
    width: 400px;
    margin-bottom: 400px;
}

.card h3{
    margin-left: 2rem;
    text-align: center;
    margin-right: 4rem;
    height: 300px;
}

.skills{
    margin-right: 100px;
    height: 70px;
    width: 500px;
    float: right;
    justify-content: right;
    margin-top: 2em;
    margin: 2em;
    color: blue;
}