body{
    margin: 0px auto;
    background-color: #f2f2f2;
}

/* start menu style */
.menu {
    
}
.menu ul{
    
}
.menu ul>li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;

}
.menu ul>li>a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* End menu style */

.heading{
    text-align: left;
    margin-left: 160px;
    color:cyan;

}

/* start main */
.main{

}

.description{
    float: left;
    width: 40%;
    background-color: #fff;
    padding: 40px 20px 40px 80px;
    margin: 40px;
    border-radius: 10px;
}
.description p,li{
    font-size: 25px;
}
.picture{
    float: left;
    width: 50%;
    
}