body{
    margin: 0px auto;
    background-color: #f2f2f2;
}

/* start menu style */
.menu {
    
}
.menu ul{
    
}
.menu ul>li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;

}
.menu ul>li>a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* End menu style */

.heading{
    text-align: center;
}